<div class="container">
  
    <h3>ルーム予約</h3>
    <div class= "row">
      <div class= "col-6">
        <%= image_tag @room.image, class: 'room-show-image' %> 
        <div class= "room-show-detail">
          <div class= "room-show-profile">
            <hr>
            <p>ホスト：<%= @room.user.user_name %></p>
            <hr>
            <p>エリア：<%= @room.room_area %></p>
            <hr>
            <p>詳細：<%= @room.room_introduction %></p>
          </div>
        </div>
      </div>  
      
      <div class= "col-4">
        <div class= "room-show-nav">
          <div class= "room-show-date-select"></div>
          <hr>
          <hr>
          <h4>お部屋名：<%= @room.room_name %></h4>
          <hr>
          <h4>料金：<%= @room.room_price %>円/１泊</h4>
          <hr>
          <hr>
            <%= form_for @reservation, method: :post, url: confirm_reservation_path do |f| %>
              <div class"form-group">
                <label>チェックイン</label>
                  <%= f.date_field:check_in, class: "form-control" %>
              </div>
              <div class"form-group">
                <label>チェックアウト</label>
                  <%= f.date_field:check_out, class: "form-control" %>
              </div>
              <div class"form-group">
              <label>ご人数</label>
                <%= f.text_field:people, class: "form-control" %>
              </div>
              <br>
              <div class"form-group">
                <%= f.submit "確認画面へ", class: "btn btn-primary" %>
              </div>
            <% end %>
        </div>  
      </div>
</div>

