<!DOCTYPE html>
<html>
  <head>
    <title>RoomshareApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-sm-6">
            <a href= "/home/top"><h3>Room share</h3></a>
            <div class="form-group">
              <%= search_form_for @search, url: rooms_path do |f| %>
              <%= f.search_field :room_area_cont, class: "form-control", placeholder: "東京"%>
              <%= f.search_field :room_area_or_room_address_or_room_introduction_cont , class: "form-control", placeholder: "キーワード検索" %>
              <%= f.submit "検索", class: "btn btn-outline-success" , class: "form-inline"%>
              <% end %>
            </div>
          
          </div>
          <div class="col-sm-6" style="text-align:right">
            
            
            <nav>
              
              <% if user_signed_in? %>
                ユーザー：<%= current_user.user_name %>様<br>
                <hr>
                 <%= link_to "マイページ", account_path(current_user) %><br>
                 <%= link_to "お部屋を登録", user_path(current_user) %><br>
                <!-- link_to "登録済みお部屋一覧", entry_user_path(current_user) %><br>-->
                <!-- link_to "ご予約履歴", acount_path(current_user) %><br>-->
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to 'Sign up', new_user_registration_path %><br>
                <%= link_to 'Login', new_user_session_path %>
              <% end %>
            </nav>
          </div>  
        </div>
      </header>
    </div>
    <%= yield %>
  </body>
    <div class="container">
      <footer>
    
      </footer>
</html>
